@model IEnumerable<AIII.Models.TeamMember>

@{
    ViewBag.Title = "About";
}

<div class="container">
    <h1 id="Theteam">Our Team</h1>
    <div class="members">
        <div class="member">
            <img src="@Model.FirstOrDefault(m => m.Id == 1).Photo" class="memberPhoto">
            <h2 class="member-name">
                @Html.ActionLink(@Model.FirstOrDefault(m => m.Id == 1).Name,"EditAbout", "Home", new { id = 1 }, null)
            </h2>
            <span class="member-role">@Model.FirstOrDefault(m => m.Id == 1).Role</span>
        </div>
        <div class="member">
            <img src="@Model.FirstOrDefault(m => m.Id == 2).Photo" class="memberPhoto">
            <h2 class="member-name">
                @Html.ActionLink(@Model.FirstOrDefault(m => m.Id == 2).Name, "EditAbout", "Home", new { id = 2}, null)
            </h2>
            <span class="member-role">@Model.FirstOrDefault(m => m.Id == 2).Role</span>
        </div>
        <div class="member">
            <img src="@Model.FirstOrDefault(m => m.Id == 3).Photo" class="memberPhoto">
            <h2 class="member-name">
                @Html.ActionLink(@Model.FirstOrDefault(m => m.Id == 3).Name, "EditAbout", "Home", new { id = 3 }, null)
            </h2>
            <span class="member-role">@Model.FirstOrDefault(m => m.Id == 3).Role</span>
        </div>
    </div>
</div>

