@model AIII.Models.TeamMember
@{
    ViewBag.Title = "EditAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <h2>Update Team Member</h2>

    @using (Html.BeginForm("Save", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            <div>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control center" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Role)
            <div>
                @Html.TextBoxFor(m => m.Role, new { @class = "form-control center" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Photo)
            <div>
                @Html.TextBoxFor(m => m.Photo, new { @class = "form-control center" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.GeneralInfo)
            <div>
                @Html.TextAreaFor(m => m.GeneralInfo, 5, 50, new { @class = "form-control center" })
            </div>
        </div>

        <p></p>

        @Html.HiddenFor(m => m.Id)
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>
