@model AIII.ViewModels.HomeMovies
@using AIII.Constants

<ul>
    @foreach (var item in Model.PopularMovies)
    {
        <li>@item.Title</li>
    }
</ul>
<ul>
    @foreach (var item in Model.PopularTVs)
    {
        <li>@item.Title</li>
    }
</ul>
@using (Html.BeginForm("Search", "Imdb", FormMethod.Get))
{
    <div class="form-group">
        <input name="title">
    </div>
    <p>Type</p>
    foreach (var item in MovieProperties.Types)
    {
        <div class="form-group">
            <input type="radio" name="type" value="@item.Value">
            <label>@item.Key</label><br>
        </div>
    }

    <p>Genres</p>
    foreach (var item in MovieProperties.Genres)
    {
        <div class="form-group">
            <input type="checkbox" name="genres" value="@item.Value">
            <label>@item.Key</label><br>
        </div>
    }
    <p>Country</p>
    foreach (var item in MovieProperties.Countries)
    {
        <div class="form-group">
            <input type="radio" name="genres" value="@item.Value">
            <label>@item.Key</label><br>
        </div>
    }
    <div class="form-group">
        <label>From</label><br>
        <input type="date" name="releaseDate">
    </div>
    <div class="form-group">
        <label>To</label><br>
        <input type="date" name="releaseDate">
    </div>
    <button type="submit">submit</button>
}