@model AIII.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="main">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <h5 class="form-group center text-primary">
            @User.Identity.Name
        </h5>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control center" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control center" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control center" })
            </div>
        </div>
        <div class="form-group">
            <br />
            <div>
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>