@model AIII.Models.ManageAccountViewModel

@{
    ViewBag.Title = "ManageAccount";
}
<div class="main">

    <h2>Personal Account</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <br />

    <div class="center">

        <h4 class="form-group text-primary">@User.Identity.Name</h4>
        <br />
        <table>
            <tr class="member-info">
                <form action="@Url.Action("GetByTag", "Search")">
                    <input type="hidden" value="userLikes" name="tag" />
                    <input type="hidden" value="true" name="newRequest" />
                    <button class="btn">
                        <img class="icon" src="~/source/like.png" />
                        <span class="count"> @Model.LikesAmount</span>
                    </button>
                </form>
            </tr>
            <tr class="member-info">
                <form action="@Url.Action("GetByTag", "Search")">
                    <input type="hidden" value="userDislikes" name="tag" />
                    <input type="hidden" value="true" name="newRequest" />
                    <button class="btn">
                        <img class="icon" src="~/source/dislike.png" />
                        <span class="count"> @Model.DislikesAmount</span>
                    </button>
                </form>
            </tr>
            <tr class="member-info">
                <form action="@Url.Action("GetByTag", "Search")">
                    <input type="hidden" value="userWatched" name="tag" />
                    <input type="hidden" value="true" name="newRequest" />
                    <button class="btn">
                        <img class="icon" src="~/source/watched.png" />
                        <span class="count"> @Model.WatchedFilmsAmount</span>
                    </button>
                </form>
            </tr>
        </table>
        <br />
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputDefault">
                    ImDb Key
                    @Html.TextBoxFor(model => model.ImdbKey, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ImdbKey, "", new { @class = "text-danger " })
                </label>
            </div>
            <br />
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div>
                    <a class="btn btn-primary" href="@Url.Action("ChangePassword")">Change password</a>
                    <button type="submit" value="Save" class="btn btn-secondary">Save</button>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

