@model AIII.Models.ManageAccountViewModel

@{
    ViewBag.Title = "ManageAccount";
}
<div class="main">

    <h2>Personal Account</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <h5 class="form-group center text-primary">
                @User.Identity.Name
            </h5>
            <hr />
            <h6 class="form-group center">
                User rated films
            </h6>
            <br />
            <div class="center">
                <a>
                    <img class="icon" src="~/source/like.png" />
                    <span class="count"> @Model.LikesAmount</span>
                </a>
                <span></span>
                <a class="member-info">
                    <img class="icon" src="~/source/dislike.png" />
                    <span class="count"> @Model.DislikesAmount</span>
                </a>
                <span></span>
                <a>
                    <img class="icon" src="~/source/watched.png" />
                    <span class="count"> @Model.WatchedFilmsAmount</span>
                </a>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ImdbKey, htmlAttributes: new { @class = "control-label col-md-2 center" })
                <br />
                <div>
                    @Html.EditorFor(model => model.ImdbKey, new { @class = "form-control center text-center" })
                    @Html.ValidationMessageFor(model => model.ImdbKey, "", new { @class = "text-danger center" })
                </div>
            </div>

            <div class="form-group">
                <hr />
                <div>
                    <input type="submit" value="Save" class="btn btn-primary form-control" />
                </div>
                <br />
                <a class="text-muted" href="@Url.Action("ChangePassword")">Change password</a>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

