@model AIII.ViewModels.SearchResult

@{
    ViewBag.Title = "UserLikedMovies";
}

<h2 class="title">@Model.SearchString</h2>
<h4 class="title text-primary">@User.Identity.Name</h4>
@foreach (var item in Model.Movies)
{
    string controllerName = "";
    if (item.ImdbRating != null)
    {
        controllerName = "Imdb";
    }
    else
    {
        controllerName = "CustomMovie";
    }

    <a href="@Url.Action("GetMovie",controllerName, new { id = item.Id })">

        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                <div class="card-title-back">
                    <h4 class="card-title">@item.Title</h4>
                </div>
            </div>
        </div>
    </a>
}

