@model IEnumerable<AIII.Models.UserWithRole>

@{
    ViewBag.Title = "UsersRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of users</h2>
<table class="table" style="border-bottom-width:1px">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RolesNames)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                <div>
                    <ul class="navbar-nav me-auto">
                        @foreach (var role in item.RolesNames)
                        {
                            <li class="nav ">@Html.DisplayFor(modelItem => role)</li>
                        }
                    </ul>
                </div>
                

            </td>
            @if (User.IsInRole("Admin"))
            {
                <td class="text-right" width="20%">
                    @if (User.Identity.Name != item.UserEmail)
                    {
                        if (!item.RolesNames.Contains("Moderator"))
                        {
                            @Html.ActionLink("Set as moderator", "AddModeratorRole", new { userId = item.UserId })
                        }
                        else
                        {
                            @Html.ActionLink("Remove from moderators", "RemoveModeratorRole", new { userId = item.UserId })
                        }
                    }

                </td>
            }
        </tr>
    }

</table>
