@model IEnumerable<AIII.Models.UserWithRole>

@{
    ViewBag.Title = "UsersRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">

    <h2>
        UsersRoles
    </h2>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesNames)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    <ul>
                        @foreach (var role in item.RolesNames)
                        {
                            <li class="nav">@Html.DisplayFor(modelItem => role)</li>
                        }
                    </ul>

                </td>
                <td class="text-right" width="20%">
                    @if (User.Identity.Name != item.UserEmail)
                    {
                        if (!item.RolesNames.Contains("Moderator"))
                        {
                            @Html.ActionLink("Set as moderator", "AddModeratorRole", new { userId = item.UserId }, new { @class = "btn btn-success" })
                        }
                        else
                        {
                            @Html.ActionLink("Remove from moderators", "RemoveModeratorRole", new { userId = item.UserId }, new { @class = "btn btn-danger" })
                        }
                    }
                </td>
            </tr>
        }

    </table>


</div>