@model AIII.Dtos.MovieFullInfoDto
<div class="row">
    <div class="col-1"></div>
    <div class="col-md-3 left">
        <img class="poster" src="@Model.Image" />
        <table class="table movie-info">
            <tbody>
                @if (Model.ImdbRating.Value != 0)
                {
                    <tr>
                        <th scope="row">Imdb:</th>
                        <td class="text-secondary">@Model.ImdbRating</td>
                    </tr>
                }
                @if (Model.ReleaseDate != null)
                {
                    <tr>
                        <th scope="row">Released:</th>
                        <td class="text-secondary">@Model.ReleaseDate.Value.ToShortDateString()</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Stars))
                {
                    <tr>
                        <th scope="row">Cast:</th>
                        <td class="text-secondary">@Model.Stars</td>
                    </tr>

                }
                @if (!string.IsNullOrEmpty(Model.Directors))
                {
                    <tr>
                        <th scope="row">Directors:</th>
                        <td class="text-secondary">@Model.Directors</td>
                    </tr>

                }
                @if (!string.IsNullOrEmpty(Model.Genres))
                {
                    <tr>
                        <th scope="row">Genres:</th>
                        <td class="text-secondary">@Model.Genres</td>
                    </tr>

                }

                @if (!string.IsNullOrEmpty(Model.Countries))
                {
                    <tr>
                        <th scope="row">Contries:</th>
                        <td class="text-secondary">@Model.Countries</td>
                    </tr>

                }
                @if (!string.IsNullOrEmpty(Model.Budget))
                {
                    <tr>
                        <th scope="row">Budget:</th>
                        <td class="text-secondary">@Model.Budget</td>
                    </tr>

                }
                @if (!string.IsNullOrEmpty(Model.CumulativeWorldwideGross))
                {
                    <tr>
                        <th scope="row">Gross:</th>
                        <td class="text-secondary">@Model.CumulativeWorldwideGross</td>
                    </tr>

                }


            </tbody>
        </table>
    </div>
    <div class="col-md-7 left">
        <h1 class="Title movie-title text-secondary">@Model.Title</h1>
        <h3 class="title">Plot</h3>
        <p class="plot-details">@Model.Plot</p>
        <h3 class="title">Watch</h3>
        <div class="trailer-parent center">
            <iframe class="trailer" src="@Model.Video"></iframe>
        </div>
        <div class="row rating">
            <div class="col-md-6"></div>
            <div class="col-md-2 col-4">
                @if (Model.UserRating.UserId == null)
                {
                    <a data-toggle="tooltip" data-bs-placement="bottom" title="Like" href="@Url.Action("Register", "Account")">
                        <img class="icon" src="~/source/like.png" />
                    </a>
                    <span class="count"> @Model.UserRating.LikesAmount</span>
                }
                else
                {
                    <a data-toggle="tooltip" data-bs-placement="bottom" title="Like" href="@Url.Action("IncrementLike", "UserRating", new { movieId = Model.Id})">
                        <img class="icon" src="~/source/like.png" />
                    </a>
                    <span class="count"> @Model.UserRating.LikesAmount</span>
                }
            </div>
            <div class="col-md-2 col-4">
                @if (Model.UserRating.UserId == null)
                {
                    <a data-toggle="tooltip" data-bs-placement="bottom" title="Like" href="@Url.Action("Register", "Account")">
                        <img class="icon" src="~/source/dislike.png" />
                    </a>
                    <span class="count"> @Model.UserRating.DislikesAmount</span>
                }
                else
                {
                    <a data-toggle="tooltip" data-bs-placement="bottom" title="Like" href="@Url.Action("IncrementDislike", "UserRating", new { movieId = Model.Id})">
                        <img class="icon" src="~/source/dislike.png" />
                    </a>
                    <span class="count"> @Model.UserRating.DislikesAmount</span>
                }
            </div>
            <div class="col-md-2 col-4 ">
                @if (Model.UserRating.UserId == null)
                {
                    <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark as watched" href="@Url.Action("Register", "Account")">
                        <img class="icon" src="~/source/unwatched.png" />
                    </a>
                    <span class="count"> @Model.UserRating.WatchedAmount</span>
                }
                else
                {

                    if (false)
                    {
                        <a type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark as unwatched" href="@Url.Action("SetAsWatched", "UserRating", new { movieId = Model.Id})">
                            <img class="icon" src="~/source/watched.png" />
                        </a>
                        <span class="count"> @Model.UserRating.WatchedAmount</span>

                    }
                    else
                    {
                        <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mark as watched" href="@Url.Action("SetAsWatched", "UserRating", new { movieId = Model.Id})">
                            <img class="icon" src="~/source/unwatched.png" />
                        </a>
                        <span class="count"> @Model.UserRating.WatchedAmount</span>

                    }
                }
            </div>

        </div>
    </div>
</div>
<div class="col-md-1"></div>
</div>
