
@if (Request.IsAuthenticated)
{

    if (User.IsInRole("Admin"))
    {
        <li>
            <form action="@Url.Action("Index", "CustomMovie")">

                <button class="btn nav-link">Movies</button>
            </form>
        </li>
        <li>
            <form action="@Url.Action("UsersRoles", "Manage")">

                <button class="btn nav-link" href="@Url.Action("UsersRoles", "Manage")">Roles</button>
            </form>
        </li>
    }
    <li>
        <form action="@Url.Action("ManageAccount", "Manage")">

            <button class="btn nav-link" h>Account</button>
        </form>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
        @Html.AntiForgeryToken()
        <li><button class="btn nav-link text-danger" href="javascript:document.getElementById('logoutForm').submit()">Log out</button></li>
    }
}
else
{
    <li>
        <form action="@Url.Action("Register", "Account")">
            <button class="btn nav-link text-success" id="registerLink">Register</button>
        </form>
    </li>
    <li>
        <form action="@Url.Action("Login", "Account")">

            <button class="btn nav-link text-success" id="loginLink">Log in</button>
        </form>
    </li>
}
