
@if (Request.IsAuthenticated)
{

    if (User.IsInRole("Admin"))
    {
        <li>
            <a class="nav-link" href="@Url.Action("UsersRoles", "Manage")">Roles</a>
        </li>
    }
    <li>
        <a class="nav-link text-muted" href="@Url.Action("ManageAccount", "Manage")">Account</a>
    </li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
        @Html.AntiForgeryToken()
        <li><a class="nav-link text-danger" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link text-success", id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link text-success", id = "loginLink" })</li>
}
