@model AIII.Models.CustomMovie

@{
    ViewBag.Title = "NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "CustomMovie"))
{
    <table style="width:70%">

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </td>

            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Genres)
                    @Html.TextBoxFor(m => m.Genres, new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Type)
                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
                </div>
            </td>

            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.ReleaseDate)
                    @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Countries)
                    @Html.TextBoxFor(m => m.Countries, new { @class = "form-control" })
                </div>
            </td>

            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Stars)
                    @Html.TextBoxFor(m => m.Stars, new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Budget)
                    @Html.TextBoxFor(m => m.Budget, new { @class = "form-control" })
                </div>
            </td>

            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.CumulativeWorldWideGross)
                    @Html.TextBoxFor(m => m.CumulativeWorldWideGross, new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Image)
                    @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    @Html.LabelFor(m => m.Plot)
                    @Html.TextAreaFor(m => m.Plot, 5, 50, new { @class = "form-control" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-primary">Save</button>
            </td>
        </tr>
   
    </table>
}

