@model IEnumerable<AIII.Dtos.MovieFullInfoDto>
@{
    ViewBag.Title = "Custom Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row header">

    <div class="col-lg-1"></div>
    <h2 class="col-lg-2">
        Other Movies
    </h2>
    <div class="col-lg-6"></div>
    <div class="col-lg-2">
        @Html.ActionLink("New Movie", "NewMovie", "CustomMovie", null, new { @class = "btn btn-info" })

    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row header">
    <div class="col-lg-4 d-none d-lg-block"><h4 class="text-secondary">Poster</h4></div>
    <div class="col-lg-5 d-none d-lg-block"><h4 class="text-secondary">Plot</h4></div>
    <div class="col-lg-3 d-none d-lg-block"><h4 class="text-secondary">Options</h4></div>
</div>
@foreach (var movie in Model)
{
    <div class="row ">
        <div class="col-lg-4">
            <a href="@Url.Action("GetMovie","CustomMovie", new { id = movie.Id })">

                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <img class="card-img-top" src="@movie.Image" alt="Card image cap">
                        <div class="card-title-back">
                            <h4 class="card-title">@movie.Title</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-5">
            <p class="plot left thin-plot ">@movie.Plot</p>
        </div>
        <div class="col-lg-3">
            <a class="btn btn-warning" href="@Url.Action("Edit", "CustomMovie", new { id = movie.Id})">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", "CustomMovie", new { id = movie.Id})">Delete</a>
        </div>
    </div>
}





