@model IEnumerable<AIII.Dtos.MovieFullInfoDto>
@{
    ViewBag.Title = "Custom Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Other Movies</h2>
@Html.ActionLink("New Movie", "NewMovie", "CustomMovie", null, new { @class = "btn btn-success left" })

<div class="main">
    <table class="table">
        <tr>
            <th width="200px">Movie</th>
            <th>Plot</th>
            <th width="50px">Delete</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <img src="@movie.Image" width="150" />
                    <p>@Html.ActionLink(movie.Title, "Edit", "CustomMovie", new { id = movie.Id }, null)</p><br />
                </td>
                <td>
                    <p class="Plot">@movie.Plot</p>
                </td>
                <td>
                    <p>
                        @Html.ActionLink("Delete", "Delete", "CustomMovie", new { id = movie.Id }, new { @class = "btn btn-primary" })
                    </p>
                </td>
            </tr>
        }

    </table>
</div>




